@model ServiceEditVM

<div class="container my-5">
    <div class="row">
        <div class="sliderImage d-flex justify-content-center">
            <img src="~/assets/img/banner/@Model.Image" style="width:500px; height:300px;" />
        </div>
        <form method="post" class="mt-3" asp-action="Edit" enctype="multipart/form-data">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger d-block"></span>

            <input asp-for="Description" class="form-control mt-3" placeholder="Enter Title" />
            <span asp-validation-for="Description" class="text-danger d-block"></span>

            <div class="form-group mt-3">
                <lable>City Image</lable>
                <input asp-for="NewImage" class="form-control" />
                <span asp-validation-for="NewImage" class="text-danger d-block"></span>
            </div>

            <button type="submit" class="btn btn-success btn-rounded btn-fw mt-3 d-inline-block">Submit</button>
            <a asp-controller="Service" asp-action="Index" class="btn btn-primary btn-rounded btn-fw mt-3 d-inline-block">Back</a>
        </form>
    </div>
</div>