<header>
    <div id="sticky-header" class="menu-area transparent-header">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo">
                                <a href="~/index.html">
                                    <img src="~/assets/img/logo/logo.png" alt="Logo">
                                </a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-controller="Movie" asp-action="Index">Movie</a></li>
                                    <li><a asp-controller="TvShows" asp-action="Index">tv show</a></li>
                                    <li><a asp-controller="Pricing" asp-action="Index">Pricing</a></li>
                                    <li><a asp-controller="Blog" asp-action="Index">blog</a></li>
                                    <li><a asp-controller="Contact" asp-action="Index">contacts</a></li>
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-search">
                                        <a href="~/#" data-toggle="modal"
                                           data-target="#search-modal"><i class="fas fa-search"></i></a>
                                    </li>


                                    <li class="header-btn">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-controller="Account" asp-action="Logout" class="btn">Logout</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="SignUp" class="btn">Sign Up</a>
                                        }

                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="mobile-menu">
                        <div class="close-btn"><i class="fas fa-times"></i></div>

                        <nav class="menu-box">
                            <div class="nav-logo">
                                <a href="~/index.html">
                                    <img src="~/assets/img/logo/logo.png" alt=""
                                         title="">
                                </a>
                            </div>
                            <div class="menu-outer"></div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="~/#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="~/#"><span class="fab fa-facebook-square"></span></a></li>
                                    <li><a href="~/#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a href="~/#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a href="~/#"><span class="fab fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="menu-backdrop"></div>

                    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form>
                                    <input type="text" placeholder="Search here...">
                                    <button><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>